 <!-- Creates the navbar -->
<nav class="navbar navbar-default navbar-inverse">
  <!-- This creates the mechanism for collapse button -->
  <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
  <!-- This controls the number of lines in the image when the nav collapse -->
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand events-brand" href="<%-sails.config.events.logoLink%>" target="_blank" title="<%-sails.config.events.logoTip%>">
      <img class="navbar-logo" src="<%-sails.config.events.logo%>" alt="">
  </a>
  <!-- This is the brand on the left-hand side. -->
  <div ng-hide="dashboard">
    <a class="navbar-brand" href="/dashboard">
      <div ng-hide="makingBooking">
        <span class="hidden-xs">Book into an Event KEVVY</span>
        <span class="visible-xs">Book In</span>
      </div>
      <div ng-show="makingBooking">
        <span>Back</span>
      </div>
    </a>
  </div>
  <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <div class="nav navbar-nav navbar-right navbar-form btn-toolbar">
      <!-- navbar-right pulls this element right -->

          <!-- Only show this button if the user is an admin or organiser -->
          <button type="button" class="btn btn-success" onclick="window.location='/events'" ng-show="user.isAdmin || user.isOrganiser || user.isDC" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>Events</span>
          </button>

          <!-- Only show this button if the user isAdmin, and then only on desktops -->
          <button type="button" class="btn btn-success" onclick="window.location='/users'" ng-show="user.isAdmin || user.isOrganiser" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>Users</span>
          </button>

          <button type="button" class="btn btn-success" onclick="window.location='/mybookings'" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>My Bookings</span>
          </button>

          <button type="button" class="btn btn-success" onclick="window.location='/profile'" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>Profile</span>
          </button>

          <button type="button" class="btn btn-success" onclick="window.location='/updateappconfirmation'" ng-show="user.isAdmin" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>Update</span>
          </button>

          <button type="button" class="btn btn-success" onclick="window.location='/mimicuserrequested'" ng-show="user.isAdmin" ng-class="{'nav-btn-space':!navCollapsed}">
            <span>Mimic</span>
          </button>

          <button type="button" class="btn btn-success" onclick="window.location='/logout'">
            <span>Sign out</span>
          </button>

    </div>

  </div>
</nav>
