<!DOCTYPE html>
 <!-- Creates the navbar -->
<nav class="navbar navbar-default navbar-inverse">
  <!-- This creates the mechanism for collapse button -->
  <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
  <!-- This controls the number of lines in the image when the nav collapse -->
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <!-- This is the brand on the left-hand side. -->
  <a class="navbar-brand" href="/"> Events</a>
  <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <!-- This is what "styles" the li's as navbar items -->
    <ul class="nav navbar-nav navbar-right">
      <!-- navbar-right pulls this element right -->
      <li>
        <a href="/profile">Edit profile</a>
      </li>   
      <li>
        <a href="/logout">Sign out</a>
      </li>          
    </ul>
  </div>
</nav>