<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>Online refund for £<%=refundAmount%> failed!.</p>

<p>You can try to simply go to your booking and click the "Update Booking" button again (as this may have been a temporary outage).</p>

<p>If the issue persists then please contact the event organiser to process the refund for you.</p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
