<div class="container hidden-xs hidden-sm">
   <!-- <hr>  -->
    <footer class="l-footer">
        <div>
            <!-- a href="http://www.kpturner.co.uk/">kpturner.co.uk</a -->
            <!-- div>&copy; Kevin Turner 2018</div -->
        </div>
        <div>
            <a href="/privacy" target="_blank">Privacy policy</a>
        </div>
    </footer>
</div>