<div class="container">
   <!-- <hr>  -->
    <footer class="l-footer">
        <div>
            <!-- a href="http://www.kpturner.co.uk/">kpturner.co.uk</a -->
            <!-- div>&copy; Kevin Turner 2018</div -->
        </div>
        <div>
            <a href="https://squareevents.org/doc/privacy.pdf" target="_blank">Privacy policy</a>
        </div>
    </footer>
</div>
