<!DOCTYPE html>
<!-- Creates the navbar -->
<div ng-controller="LoginController">
  <nav class="navbar navbar-default navbar-inverse">
    <!-- This creates the mechanism for collapse button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <!-- This controls the number of lines in the image when the nav collapse -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> 
    <!-- This is the brand on the left-hand side. -->
    <a class="navbar-brand" href="/"> Events</a>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <form ng-submit="navbarLoginForm()" class="navbar-form navbar-right">
  
          <div class="form-group">
              <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
          </div>
          <div class="form-group">
              <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">
            <span ng-show="!loginForm.loading">Sign in</span>
            <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
            <span ng-show="loginForm.loading">Signing in...</span>
          </button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form> 
    </div>
  </nav>  
</div> 
