<!-- Creates the navbar -->
<div>
  <nav class="navbar navbar-default navbar-inverse">
    <!-- This is the brand on the left-hand side. -->
    <a class="navbar-brand events-brand" href="<%-sails.config.events.logoLink%>" target="_blank" title="<%-sails.config.events.logoTip%>">
      <img class="navbar-logo" src="<%-sails.config.events.logo%>" alt="">
    </a>
    <span class="navbar-brand"> Square Events - Privacy Policy</span>

  </nav>
</div>
