<!DOCTYPE html>
<div class="container">
    <hr>
    <footer class="footer pull-right">
        <div>
            <a href="http://www.kpturner.co.uk/">kpturner.co.uk</a>
            <div>&copy; Kevin Turner 2015</div>
        </div>
    </footer>
</div>