<!DOCTYPE html>
<html>
  <head>
    <title>Signup for Events Management</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
       _csrf: "<%= _csrf %>"
    };
    </script>
    
  </head>

  <body ng-app="PublicModule" ng-cloak>
    
                     
    <div class="container-fluid">
       
      <% include partials/public/navbar.ejs %>     

      <!-- SIGNUP FORM --> 
      <div data-ng-controller="SignupController">
      <!-- form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup" -->      
      <form ng-submit="submitSignupForm()" id="sign-up-form" name="signup" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h2 class="form-signin-heading">Create an account</h2>
        <div class="row">
  
          <!-- N A M E -->
  
          <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
          insert the "has-error" class on the input field (i.e. insert a red border around the input field)
          -->
          <div class="control-group form-group col-xs-10"
          ng-class="{'has-error':signup.name.$invalid &&
                                signup.name.$dirty}">
            <label>Your full name</label>
  
            <!-- For this input field make it required, and have a max length of 25 -->
            <input type="text" class="form-control" placeholder="e.g. Fred Bloggs" name="name" ng-model="signupForm.name" ng-maxlength="50" required>
  
            <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
            and/or maxlength) -->
            <span class="help-block has-error" ng-if="signup.name.$dirty">
              <span ng-show="signup.name.$error.required">Name is required.</span>
              <span ng-show="signup.name.$error.maxlength">The name cannot be more than 50 characters.</span>
            </span>
          </div>
          
          <!-- U S E R  N A M E (alternative for logging in) -->
  
          <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
          insert the "has-error" class on the input field (i.e. insert a red border around the input field)
          -->
          <div class="control-group form-group col-xs-10"
          ng-class="{'has-error':signup.userName.$invalid &&
                                signup.userName.$dirty}">
            <label>User name (for logging in)</label>
  
            <!-- For this input field make it required, and have a max length of 25 -->
            <input type="text" class="form-control" placeholder="e.g. fbloggs" name="userName" ng-model="signupForm.userName" ng-maxlength="50" required>
  
            <!-- Also, if signup.userName.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
            and/or maxlength) -->
            <span class="help-block has-error" ng-if="signup.userName.$dirty">
              <span ng-show="signup.userName.$error.required">User name is required.</span>
              <span ng-show="signup.userName.$error.maxlength">The user name cannot be more than 50 characters.</span>
            </span>
          </div>
  
          <!-- L O D G E -->
  
          <div class="control-group form-group col-xs-10 col-md-6"
            ng-class="{'has-error':signup.lodge.$invalid &&
                                  signup.lodge.$dirty}">
            <label>Your lodge name</label>
            <input type="text" class="form-control" placeholder="e.g. Hamtun" name="lodge" ng-model="signupForm.lodge" ng-maxlength="50" required>
            <span class="help-block has-error" ng-if="signup.lodge.$dirty">
              <span ng-show="signup.lodge.$error.required">Lodge name is required.</span>
              <span ng-show="signup.lodge.$error.maxlength">The name cannot be more than 50 characters.</span>
            </span>
          </div>
          
          <!-- L O D G E  N U M B E R-->
  
          <div class="control-group form-group col-xs-6 col-md-4"
            ng-class="{'has-error':signup.lodgeNo.$invalid &&
                                  signup.lodgeNo.$dirty}">
            <label>Your lodge number</label>
            <input type="number" class="form-control" placeholder="e.g. 7083" name="lodge number" ng-model="signupForm.lodgeNo" ng-maxlength="5" required>
            <span class="help-block has-error" ng-if="signup.lodgeNo.$dirty">
              <span ng-show="signup.lodgeNo.$error.required">Lodge number is required.</span>
              <span ng-show="signup.lodgeNo.$error.maxlength">The name cannot be more than 5 characters.</span>
            </span>
          </div>
          
           <!-- R A N K -->
  
          <div class="control-group form-group col-xs-10"
            ng-class="{'has-error':signup.rank.$invalid &&
                                  signup.rank.$dirty}">
            <label>Your rank</label>
            <input type="text" class="form-control" placeholder="e.g. PPDGDC or Past Provincial Deputy Grand Director of Ceremonies" name="rank" ng-model="signupForm.rank" ng-maxlength="100" >
            <span class="help-block has-error" ng-if="signup.rank.$dirty">
              <span ng-show="signup.rank.$error.maxlength">Your rank cannot be more than 100 characters.</span>
            </span>
          </div>
  
          <!-- D I E T A R Y -->
  
          <div class="control-group form-group col-xs-10"
            ng-class="{'has-error':signup.dietary.$invalid &&
                                  signup.dietary.$dirty}">
            <label>Your dietary requirements</label>
            <input type="text" class="form-control" placeholder="e.g. Vegetarian" name="dietary" ng-model="signupForm.dietary" ng-maxlength="50" >
            <span class="help-block has-error" ng-if="signup.dietary.$dirty">
              <span ng-show="signup.dietary.$error.maxlength">Your dietary requirements cannot be more than 50 characters.</span>
            </span>
          </div>
  
          <!-- E M A I L -->
  
          <div class="control-group form-group col-xs-10"
          ng-class="{'has-error':signup.email.$invalid &&
                                signup.email.$dirty}">
            <label>Your email address</label>
            <input type="email" class="form-control" placeholder="e.g fred.bloggs@somedomain.com" name="email" ng-model="signupForm.email" required compare-to="signupForm.confirmemail">
            <span class="help-block has-error" ng-if="signup.email.$dirty">
              <span ng-show="signup.email.$error.required">Email address is required.</span>
              <span ng-show="signup.email.$error.email">Not a valid email address.</span>
            </span>
          </div>
          
           <!-- C O N F I R M  E M A I L -->
  
          <div class="control-group form-group col-xs-10"
          ng-class="{'has-error':signup.confirmemail.$invalid &&
                                signup.confirmemail.$dirty}">
            <label>Re-enter your email address</label>
            <input type="email" class="form-control" placeholder="one more time" name="confirmemail" ng-model="signupForm.confirmemail" required >
            <span class="help-block has-error" ng-if="signup.confirmemail.$dirty">
              <span ng-show="signup.email.$error.compareTo">Email address must match.</span>
              <span ng-show="signup.confirmemail.$error.required">Confirmation email address is required.</span>
              <span ng-show="signup.confirmemail.$error.email">Not a valid email address.</span>
            </span>
          </div>
  
          <!-- P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7"
          ng-class="{'has-error':signup.password.$invalid &&
                                signup.password.$dirty}">
            <label>Choose a password</label>
            <!-- Added the compareTo directive that compares the passowrds -->
            <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword" >
            <span class="help-block has-error" ng-if="signup.password.$dirty">
              <span ng-show="signup.password.$error.required">Password is required.</span>
              <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
            </span>
          </div>
  
          <!-- C O N F I R M  P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7">
            <label>Re-enter your password</label>
            <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="signupForm.confirmPassword" required>
            <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
              <span ng-show="signup.password.$error.compareTo">Password must match.</span>
              <span ng-show="signup.confirmPassword.$error.required">Confirmation password is required.</span>
            </span>
          </div>
        </div>
  
        <br/>
  
        <!-- Disable signup button until the form has no errors -->
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
          <span ng-show="!signupForm.loading">Create Account</span>
          <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
          <span ng-show="signupForm.loading">Preparing your new account...</span>
        </button>
  
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
      </div>

     </div>  

    <% include partials/public/footer.ejs %>   
      
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-initial-value.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/public/PublicModule.js"></script>
    <script src="/js/private/PrivateModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/private/events/UsersController.js"></script>
    <script src="/js/private/profile/ProfileController.js"></script>
    <script src="/js/private/users/EventsController.js"></script>
    <script src="/js/public/HomepageController.js"></script>
    <script src="/js/public/LoginController.js"></script>
    <script src="/js/public/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
