<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>This is a courtesy email to confirm that your booking payment for event: <%=event.name%> of £<%=amountPaid%> has been cancelled along with your booking. If this cancellation was a mistake, please recreate your booking.</p>
<p><i>No money has been charged to your card at this stage.</i></p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
