<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>An error occurred trying to process an online payment.</p>

<p>The message is:</p>
"<%=msg%>"

<p>You can try updating your booking again as this might be a temporary outage.</p>
<p>If the issue persists then please contact the event organiser to check things for you.</p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
