

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

@media (max-width: 480px) {
    .nav-btn-space {
		margin-bottom: 2px
	}
}

.deckgrid {
      width:100%;
}

.photo-description {
	overflow: auto;
}

.card-btn {
	margin-top: 3px;
}

.bigcheckbox {
	transform:scale(2, 2);
}

.navbar-inverse {
	background-color:#17375E
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #17375E;
}

.navbar-logo {
  float: left;
  height: 50px;
  padding: 15px 0px 15px 15px;
  font-size: 18px; 
  line-height: 20px; 
}

.event-logo {
    float:left;
    margin-top: 3px;
    margin-right:6px;
    height:52px;
    width: 12%;
    
}

.event-name {
    float:left;
    width: 60%;
    
}

.event-logo-right {
    float:right;
    margin-top: 3px;
    margin-left:6px;
    margin-right:3px;
    height:52px;
    width: 12%;
    
}


.event-name {
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;    
}

.a-unstyled {  text-decoration: none}
.a-unstyled:link {  text-decoration: none}
.a-unstyled:visited {  text-decoration: none}
.a-unstyled:hover {  text-decoration: none}
.a-unstyled:active {  text-decoration: none}

.navbar-inverse .a-unstyled {  text-decoration: none}
.navbar-inverse .a-unstyled:link {  text-decoration: none}
.navbar-inverse .a-unstyled:visited {  text-decoration: none}
.navbar-inverse .a-unstyled:hover {  text-decoration: none}
.navbar-inverse .a-unstyled:active {  text-decoration: none}

.omb_login .omb_authTitle {
    text-align: center;
	/* line-height: 300%; */
}
	
.omb_login .omb_socialButtons a {
	color: white; //  
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.7em;
	margin-left: -1.5em;
	background-color: #eee;
	width: 3em;
	text-align: center;
}			
.omb_login .omb_loginOr .omb_spanSocial {
	display: block;
	position: absolute;
	left: 47%;
	top: -0.7em;
	margin-left: -4.5em;
	background-color: #eee;
	width: 11em;
	text-align: center;
}	
.omb_login .omb_loginOr .omb_spanManual {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.7em;
	margin-left: -4em;
	background-color: #eee;
	width: 8em;
	text-align: center;
}	
.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd .omb-stuck .omb-guide {
        text-align: right;
		margin-top:10px;
 	}		
}