.form-horizontal .control-label.text-left{
    text-align: left;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

@media (max-width: 480px) {
    .nav-btn-space {
		margin-bottom: 2px
	}
}

.se-pre-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deckgrid {
      width:100%;
}

.photo-description {
	overflow: auto;
}

.card-btn {
	margin-top: 3px;
}

.bigcheckbox {
	transform:scale(2, 2);
}

.events-brand {
  float: left;
  height: 50px;
  padding: 15px 0px 15px 15px;
  font-size: 18px; 
  line-height: 20px; 
}
 

.event-logo {
    float:left;
    margin-top: 3px;
    margin-right:6px;
    height:52px;
    width: 12%;
    
}

.event-name {
    float:left; 
}

.event-name-100 {
    width: 100%
}

.event-name-80 {
    width: 80%
}

.event-name-60 {
    width: 60%
}

.event-logo-right {
    float:right;
    margin-top: 3px;
    margin-left:6px;
    margin-right:5px;
    height:52px;
    width: 12%;
    
}


.event-name {
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;    
}

.user-name {
    float:left; 
}

.user-name-100 {
    width: 100%
}

.user-name-65 {
    width: 65%
}
 

.user-picture-right {
    float:right;
    margin-top: 3px;
    margin-left:6px;
    margin-right:5px;
    height:52px;
    width: 25%;
    
}


.user-avatar {
    height:48px;
    width: 48px;
}


.user-name {
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;    
}

.a-unstyled {  text-decoration: none}
.a-unstyled:link {  text-decoration: none}
.a-unstyled:visited {  text-decoration: none}
.a-unstyled:hover {  text-decoration: none}
.a-unstyled:active {  text-decoration: none}

.navbar-inverse .a-unstyled {  text-decoration: none}
.navbar-inverse .a-unstyled:link {  text-decoration: none}
.navbar-inverse .a-unstyled:visited {  text-decoration: none}
.navbar-inverse .a-unstyled:hover {  text-decoration: none}
.navbar-inverse .a-unstyled:active {  text-decoration: none}

.omb_login .omb_authTitle {
    text-align: center;
	/* line-height: 300%; */
}
	
.omb_login .omb_socialButtons a {	
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    opacity:1;    	
}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	background-color: #eee;	
}			
.omb_login .omb_loginOr .omb_spanSocial {
	display: block;
	position: absolute;
	left: 47%;
	top: -0.7em;
	margin-left: -4.5em;	
	width: 11em;
	text-align: center;
}	
.omb_login .omb_loginOr .omb_spanManual {
	display: block;
	position: absolute;
	left: 47%;
	top: -0.7em;
	margin-left: -4.5em;	
	width: 10em;
	text-align: center;
}	
.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}


	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd .omb-stuck .omb-guide {
        text-align: right;
		margin-top:10px;
 	}		
}