<div class="ngdialog-message">
    <h3>ACCOUNT CONVERSION</h3>
    <p>Are you sure you want to change from a Social Media login to a normal user/password login?</p>
    <p>Click 'Continue', or 'Cancel' to abandon this request.</p>

</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
</div>
