<div class="ngdialog-message">
    <h3>WARNING</h3>
    <p>A name check shows that one or more of your additional attendees may already be booked in. <i>Please check</i>.</p>
    <p>Click 'Continue' to book anyway, or 'Cancel' to change your booking.</p>    
    <h4>Possible duplicates</h4>
    <div ng-repeat="duplicate in duplicates">
    	<label>{{duplicate.surname}}, {{duplicate.firstName}}</label>  
    </div> 
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
</div>
