<div class="ngdialog-message">
    <h3>CHECKOUT</h3>
    <p>This event requires immediate online payment of £{{(booking.cost - booking.amountPaid).toFixed(2)}}</p>
    <p>Click 'Continue' to proceed or 'Cancel' to abandon the booking.
    <p><span>PLEASE NOTE: If you cancel out of the payment process at any time your booking will be cancelled. </span>
      <span ng-show="event.recoverOnlinePaymentFee">
        Also, your booking includes a fee that is NON-REFUNDABLE.
      </span>
    </p>
    </p>

</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
</div>
