<div class="ngdialog-message">
    <h3>CHECKOUT</h3>
    <p>This event requires immediate online payment.</p>
    <p>Click 'Continue' to proceed or 'Cancel' to abandon the booking.
    <p>PLEASE NOTE: If you cancel out of the payment process at any time your booking will be cancelled.</p>
    </p>    
    
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
</div>