<div class="photo ng-scope">
   <a href="/booking?eventid={{card.id}}&selecteduserid={{card.selectedUserId}}&userbookings={{card.userBookings}}" title="Click here to book in" class="a-unstyled">        
        <div class="photo-description">
            <h3>{{card.name}}</h3> 
                      
            <h5>{{ card.date | date : 'EEE, MMM dd, yyyy'}} at {{card.time}}</h5>
            <p>{{card.venue}}</p>
                
            
            <p><a href="mailto:{{card.organiser.email}}?Subject={{card.name}}: {{ card.date | date : 'EEE, MMM dd, yyyy'}} at {{card.time}}" target="_top"><span class="fa fa-envelope"></span> {{card.organiser.name}}</a></p> 
            <p ng-hide="!card.organiser.phone"><a href="tel:{{card.organiser.phone}}"><span class="fa fa-phone"></span> {{card.organiser.phone}}</a></p>                 
        </div>
         <div class="photo-description" > 
            <button type="button" class="hidden-xs hidden-sm btn btn-primary card-btn" onclick="$(this).closest('.photo').find('a')[0].click()">
                <span>Book in</span>
            </button>     
        </div>
    </a>
    <div class="photo-description" ng-show="card.showApologyButton">
        <a href="/apology?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-danger card-btn">
                <span>Send apology</span>
            </button>
        </a>          
    </div>
            
</div>