<div class="photo ng-scope">
    <a href="/booking?bookingid={{card.id}}&eventbookings=true" class="a-unstyled">        
        <div class="photo-description">
            <h3>{{card.user.surname}}, {{card.user.firstName}}</h3> 
                
            <h5>Lodge: {{card.user.lodge}} {{card.user.lodgeNo}}</h4>      
            <h5>Places: {{card.places}} Paid: {{(card.paid)?'Yes':'No'}}</h4>      
            <h5>Ref: {{card.ref}}</h5>    
            <h5><a href="mailto:{{card.user.email}}?Subject={{mother.event.name}}: {{ mother.event.date | date : 'EEE, MMM dd, yyyy'}} at {{mother.event.time}}" target="_top"><span class="fa fa-envelope"></span> Send email</a></h5>                             
            <h5 ng-hide="!card.user.phone"><span class="fa fa-phone"></span> {{card.user.phone}}</h5>      
        </div>        
    </a>
    <div class="photo-description">
        <a href="/booking/delete?bookingid={{card.id}}&eventbookings=true" class="a-unstyled">     
            <button type="button" class="btn btn-danger card-btn">
                <span>Cancel booking</span>
            </button>
        </a>          
    </div>
 </div>
 