<div class="photo ng-scope">
    <a href="/booking?bookingid={{card.id}}&eventbookings=true&mode={{mother.viewOnly?'display':'edit'}}" class="a-unstyled" title="Click here to {{mother.event.bookInText}}">
        <div class="photo-description" style="height:{{mother.bookingCardHeight}}">
            <div>
                <div class="user-name {{card.user.nameClass}}">
                    <h3 ng-hide="mother.viewOnly">{{card.user.surname}}, {{card.user.firstName}}</h3>
                    <h5 ng-show="mother.viewOnly">{{card.user.surname}}, {{card.user.firstName}}</h5>
                </div>
                <div ng-show="card.user.showPicture && !mother.viewOnly" class="user-picture-right">
                    <img src="{{card.user.gravatarUrl}}" class="user-avatar"></img>
                </div>
                <div class="user-name" ng-hide="mother.viewOnly">
                    <h5>Salutation: {{card.user.salutation}}</h5>
                    <h5 ng-hide="!card.user.lodge">{{card.orderLabel}}: {{card.user.lodge}} {{card.user.lodgeNo}}</h5>
                    <h5 ng-hide="!card.user.lodgeYear">Lodge year: {{card.user.lodgeYear}}</h5>
                    <h5><span>Places: {{card.places}} </span><span ng-hide="mother.event.free || mother.event.regInterest">Paid: {{(card.paid)?'Yes':'No'}}</span></h5>
                    <h5>Ref: {{card.ref}}</h5>
                    <h5 ng-hide="!card.user.email"><a href="mailto:{{card.user.email}}?Subject={{mother.event.name}}: {{ mother.event.date | date : 'EEE, MMM dd, yyyy'}} at {{mother.event.time}}" target="_top"><span class="fa fa-envelope"></span> Send email</a></h5>
                    <h5 ng-hide="!card.user.phone"><a href="tel:{{card.user.phone}}"><span class="fa fa-phone"></span> {{card.user.phone}}</a></h5>
                </div>
            </div>
        </div>
    </a>
    <div class="photo-description" ng-hide="mother.viewOnly">
        <a href="/booking/delete?bookingid={{card.id}}&eventbookings=true" class="a-unstyled">
            <button type="button" class="btn btn-danger card-btn">
                <span ng-hide="mother.event.regInterest">Cancel booking</span>
                <span ng-show="mother.event.regInterest">Cancel interest</span>
            </button>
        </a>
    </div>
 </div>
