<div class="photo ng-scope">
   <a href="/event/edit?eventid={{card.id}}" class="a-unstyled">        
        <div class="photo-description">
            <h4>{{card.name}}</h4> 
                      
            <h5>{{ card.date | date : 'EEE, MMM dd, yyyy'}} at {{card.time}}</h5>     
                          
        </div>        
    </a>  
    <div class="photo-description">
        <a href="/event/copy?eventid={{card.id}}" class="a-unstyled">      
            <button type="button" class="btn btn-success">
                <span>Copy</span>
            </button>   
        </a>
        <a href="/event/delete?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-danger">
                <span>Delete</span>
            </button>
        </a>   
        <a href="/eventbookings/?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-info">
                <span>Bookings</span>
            </button>
        </a>          
    </div>
 </div>