<div class="photo ng-scope">
    <a href="/booking?bookingid={{card.id}}&mybookings=false" class="a-unstyled">        
        <div class="photo-description">
            <h3>{{card.user.surname}}, {{card.user.firstName}}</h3>                                  
        </div>        
    </a>
    <div class="photo-description">
        <a href="/booking/delete?bookingid={{card.id}}&mybookings=false" class="a-unstyled">     
            <button type="button" class="btn btn-danger">
                <span>Cancel Booking</span>
            </button>
        </a>          
    </div>
 </div>
