<div class="photo ng-scope">
   <a href="/event/edit?eventid={{card.id}}" class="a-unstyled" title="Click here to edit event">        
        <div class="photo-description">
            <div>
                <div ng-show="card.logo" class="event-logo">
                    <img src="{{card.logo}}"></img>
                </div>
                <div>
                    <span class="event-name">{{card.name}}</span>
                </div> 
            </div>    
                      
            <h5>{{ card.date | date : 'EEE, MMM dd, yyyy'}} at {{card.time}}</h5>   
             
            <p><a href="mailto:{{card.organiser.email}}?Subject={{card.name}}: {{ card.date | date : 'EEE, MMM dd, yyyy'}} at {{card.time}}" target="_top"><span class="fa fa-envelope"></span> {{card.organiser.name}}</a></p> 
            <p ng-hide="!card.organiser.phone"><a href="tel:{{card.organiser.phone}}"><span class="fa fa-phone"></span> {{card.organiser.phone}}</a></p>             
                          
        </div>        
    </a>  
    <div class="photo-description">
        <a href="/event/copy?eventid={{card.id}}" class="a-unstyled">      
            <button type="button" class="btn btn-success card-btn">
                <span>Copy</span>
            </button>   
        </a>
        <a href="/event/delete?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-danger card-btn">
                <span>Delete</span>
            </button>
        </a>   
        <a href="/eventbookings/?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-info card-btn">
                <span>Bookings</span>
            </button>
        </a>       
        <a href="/eventapologies/?eventid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-warning card-btn">
                <span>Apologies</span>
            </button>
        </a>          
    </div>
 </div>