<div class="ngdialog-message">
    <h3>FOR INFORMATION</h3>
    <p>This event is not open until <br> {{event.openingDate | date : 'EEE, MMM dd, yyyy'}} at {{event.openingTime}}</p>
    <div ng-hide="!event.bypassCode">
        <p>unless you have been issued with a code:</p>
        <input type="text" class="form-control" placeholder="enter your code" name="bypasscode" ng-model="bookingForm.bypassCode" />
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Close</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-hide="!event.bypassCode" ng-click="confirm()">Use my code</button>
</div>
