<div class="ngdialog-message">
    <h3>TWITTER NOTIFICATION</h3>
    <p>We are sorry, but access via Twitter is no longer available.</p>
    <p>Please use the "I'm stuck" link to request your account to be converted to use a normal password. You will then receive an email with a new temporary password that you can use to log in with your email address.</p>    
    <p>PLEASE read the email carefully! (and check your spam folder if you cannot find it)</p>    
    
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">OK</button>
</div>
