<div class="ngdialog-message">
    <h3>CONFIRMATION</h3>
    <p>You are requesting to install the latest update. Please be advised that when you take this option, the application will go offline for all users for approx 1-2 minutes.</p>
    <p>If the application is likely to be in use, please cancel and do it at a quiet(er) time.</p>
</div><div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Update</button>
</div>
