<div class="photo ng-scope">
   <a href="/usermaint/edit?userid={{card.id}}" class="a-unstyled">        
        <div class="photo-description">
            <h4>{{card.surname}}, {{card.firstName}}</h4> 
            <h5>Lodge: {{card.lodge}} {{card.lodgeNo}}</h4>               
        </div>        
    </a>  
    <div class="photo-description">
        <!--
        <a href="/usermaint/copy?userid={{card.id}}" class="a-unstyled">      
            <button type="button" class="btn btn-success">
                <span>Copy</span>
            </button>   
        </a>
        -->
        <a href="/usermaint/delete?userid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-danger">
                <span>Delete</span>
            </button>
        </a> 
        <a href="/userbookings/?userid={{card.id}}" class="a-unstyled">     
            <button type="button" class="btn btn-info">
                <span>Bookings</span>
            </button>
        </a>            
    </div>
 </div>