<p>Dear <%=recipientName%>,</p>

<p>Your new password is show below (if applicable):</p>
 
<p><i><%=newPassword%></i></p> 

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>