<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear Event Organiser,</p>

<p>Online refund for £<%=refundAmount%> failed!. You should be cc'd on an email confirming this. Please contact the system admin.</p>

<p>Stripe said this</p>

<p><%=refundObject%></p>

<p>The booking object</p>

<p><%=bookingObject%></p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
