<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>Your new password is <i><%=password%>.</i></p>

<p>Your account has been converted from a Social Media login account to a normal username/password account. You must now login with your email address and your new password.</i></p>

<p>You have been allocated a new temporary password. Please log on here: <%=domain%> and edit your profile to change it as soon as possible. You should also provide yourself with a username, which can also be used to login rather than by using your email address.</p>
<p>NOTE: Passwords are case-sensitive.</p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
